html {
  font-family: "Helvetica";
}

#header_background {
  background-image: url("../img/the_flatiron_building.png");
}

h1 {
  font-size: "70px";
  font-weight: "bold";
  color: "white";
}

h2 {
  font-size: "18px";
  color: "white";
}

h3 {
  font-size: "32px";
  font-weight: "bold";
}
